* {
  border: 1px solid hotpink;
}
.herb {
  background-color: hotpink;
}
.hom {
  background-color: pink;
}
div {
  color:red;
  background-color: white;
}
.blue {
  color: blue;
}
.red {
  color:red;
}
