{% extends "layout.html" %}
{% block content %}
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-12">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                    <legend class="border-bottom">Log In</legend>

                    <div class="form-group">
                        <!-- form label with css class -->
                        {{ form.email.label(class="form-control-label") }}
                        <!-- Check if an error is present -->
                        {% if form.email.errors %}
                            <!-- add the class is-invalid to input box -->
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <!-- Create a div with an error message for the user -->
                            <div class="invalid-feedback">
                                <!-- loop to display all of the errors -->
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <!-- No errors were found show default input box -->
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        <!-- create a label, check if an error is present -->
                        {% if form.password.errors %}
                            <!-- erro was found, add class is-invalid to input box -->
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <!-- create a div to display all the error messages -->
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <!-- no erro was found, print basic input box -->
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>

                <h6>
                    <a href="{{ url_for('forgot') }}">Forgot Password?</a>
                </h6>
            </form>
        </div>
        <div class="col-xs-12">
            <h6 >
                Need An Account? <a href="{{ url_for('register') }}">Sign Up Now</a>
            </h6>
        </div>
      </div>
{% endblock content %}
